services:

  neon-frontend:
    build:
      context: ./web
      no_cache: true
      args:
        GIT_TAG: ${GIT_TAG:?Error GIT_TAG is missing}
    image: cert-edf/neon-fe
    pull_policy: build
    ports:
      - 127.0.0.1:8123:80

  neon-backend:
    build: 
      context: ./server/docker
      no_cache: true
    image: cert-edf/neon-be
    pull_policy: build
    ports:
      - 127.0.0.1:8113:8080
    volumes:
      - /data/neon/conf:/conf
      - /data/neon/data:/data
    environment:
      ROLE: server
      FUSION_DEBUG: 0

  neon-synchronizer:
    build: 
      context: ./server/docker
      no_cache: true
    image: cert-edf/neon-be
    pull_policy: build
    volumes:
      - /data/neon/conf:/conf
      - /data/neon/data:/data
    environment:
      ROLE: synchronizer
      FUSION_DEBUG: 0

  neon-analyzer-capa:
    build: 
      context: ./analyzer/capa
      no_cache: true
    image: cert-edf/neon-be-capa
    pull_policy: build
    volumes:
      - /data/neon/conf:/conf
      - /data/neon/data:/data
      - /data/neon/analyzer/capa/rules:/analyzer/capa/rules
    environment:
      ROLE: analyzer
      FUSION_DEBUG: 0

  neon-analyzer-ct:
    build: 
      context: ./analyzer/content_type
      no_cache: true
    image: cert-edf/neon-be-ct
    pull_policy: build
    volumes:
      - /data/neon/conf:/conf
      - /data/neon/data:/data
    environment:
      ROLE: analyzer
      FUSION_DEBUG: 0

  neon-analyzer-die:
    build:
      context: ./analyzer/die
      no_cache: true
    image: cert-edf/neon-be-die
    pull_policy: build
    volumes:
      - /data/neon/conf:/conf
      - /data/neon/data:/data
    environment:
      ROLE: analyzer
      FUSION_DEBUG: 0

  neon-analyzer-floss:
    build: 
      context: ./analyzer/floss
      no_cache: true
    image: cert-edf/neon-be-floss
    pull_policy: build
    volumes:
      - /data/neon/conf:/conf
      - /data/neon/data:/data
    environment:
      ROLE: analyzer
      FUSION_DEBUG: 0

  neon-analyzer-yara:
    build: 
      context: ./analyzer/yara
      no_cache: true
    image: cert-edf/neon-be-yara
    pull_policy: build
    volumes:
      - /data/neon/conf:/conf
      - /data/neon/data:/data
      - /data/neon/analyzer/yara/rules:/analyzer/yara/rules
    environment:
      ROLE: analyzer
      FUSION_DEBUG: 0
