@use 'primeicons/primeicons.css';
@plugin 'tailwindcss-primeui';
@variant dark (&:where(.dark, .dark *));

@layer tailwind, primeng;

@layer tailwind {
  @import 'tailwindcss';
}

* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overscroll-behavior: none;

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 20px;
  }
}

html {
  font-size: 15px;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  line-height: normal;
}

@keyframes slide-y {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.slide-y {
  animation: slide-y 0.3s both;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.theme-text {
  color: #e66755 !important;
}
.theme-bg {
  background-color: #e66755 !important;
}

.event-box {
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 5px 0px;
  border-radius: 6px;
  padding: 1.4rem;
  white-space: pre-wrap;
  position: relative;
  word-break: break-word;

  &-text {
    margin-top: 0.7rem;
    > div {
      display: flex;
      margin-top: 0.45rem;
    }
  }

  .description-copy {
    position: absolute;
    top: 12px;
    right: 12px;
    animation: xs-backslideX 0.2s both;

    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;

      &:hover {
        color: #185cc9;
      }
    }
  }
}

.m-0-tabs .p-tabpanels {
  padding: 0px !important;
}

.md {
  white-space: normal;

  * {
    margin: revert;
    padding: revert;
    list-style: revert;
    max-width: 100%;
  }

  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    margin: 0 0 10px;
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    @apply font-mono;
  }

  a {
    color: #428bca;
    text-decoration: none;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  sub,
  sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }

  mark {
    padding: 0.2em;
    background-color: #fcf8e3;
  }

  table {
    max-width: 100%;
    display: block;
    overflow-y: auto;

    tbody > tr:nth-child(odd) > td,
    tbody > tr:nth-child(odd) > th {
      background-color: #f9f9f9;
    }

    th {
      white-space: nowrap;
      padding: 0px 8px;
    }

    th[align=''],
    th:not([align]) {
      text-align: left;
    }

    td {
      padding: 8px !important;
      vertical-align: middle;
    }

    td,
    th {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.spin-once {
  animation: spin 1s normal forwards ease-in-out;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
